node_modules
*.lock

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*\.local
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

**/node_modules/
**/target/
**/.idea/
**/.commitignore
**/commit_message.md
**/yarn.lock
**/pnpm-workspace.yaml
**/coverage/